doctype html
html
  head
    block title 
    block scripts
    block style 
  body
    nav#navbar.flex
        div.left 
            div.logo.flex
                |   Trivedi <span> Dance Academy  </span>
        div.right
            ul 
                li.nav-items  #[a(href ="/") Home]
                li.nav-items  #[a(href ="/") About]
                li.nav-items  #[a(href ="/") Services]
                li.nav-items  #[a(href ="/") Class Info]
                li.nav-items  #[a(href ="/contact") Contact Us]
    
    block content

    footer.flex
        div#footer
            p Copyright © 2023 TrivediDanceAcademy.com | All rights reserved